@use '../variables'

#title
    display: flex
    width: 100vw
    align-items: center
    justify-content: center
    flex-direction: column
    row-gap: 10px

    h1
        font-size: 24px

    h2
        font-size: 14px
        color: variables.$secondary-color
        max-width: 480px
        margin: 0 25px 0 25px

#searchArea
    display: flex
    column-gap: 24px